:host {
  background-color: #eeeeee;
  display: block;
  padding: 0.5rem;
  border: 1px solid gray;
  cursor: move;
}

div {
  pointer-events: none;
}

input {
  pointer-events: all;
  cursor: default;
}
